/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9fb;
    color: #333;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 100px; /* Adăugăm spațiu pentru a evita suprapunerea footer-ului */
}

/* Header */
header {
    background-color: darkgreen;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.link-header {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Main Section */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    color: darkgreen;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

/* Ordered List */
ol {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

ol li {
    background-color: #E8F5E9;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

/* Paragraph Links */
p {
    margin: 10px 0;
    text-align: left;
    font-size: 16px;
}

.link-text {
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}

.link-text:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: darkgreen;
    color: white;
    padding: 10px 0; /* Mărim puțin padding-ul pentru un aspect mai aerisit */
    text-align: center;
    font-size: 14px;
    position: fixed; /* Poziționare fixă pentru footer */
    bottom: 0; /* Fixăm footer-ul la baza paginii */
    width: 100%;
    z-index: 100; /* Asigură-te că footer-ul este deasupra altor elemente */
}

.social img {
    margin: 0 5px;
    width: 25px;
    height: 25px;
}
